.container {
    max-width: 1200px;
    margin: auto;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 576px) {
    .navbar-expand-sm {
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
    }
}

@media screen and (min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.header-salon {
    font-family: "Tangerine", cursive, sans-serif;
    font-weight: 500;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    width: 100%;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

@media screen and (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

.logo {
    font-weight: bold;
    font-size: 28px;
}

.logo {
    font-weight: bold;
    font-size: 28px;
}

header {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}

@media screeen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screeen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screeen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screeen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    padding: 60px;
    text-align: center;
    background: linear-gradient(rgba(190, 161, 161, 0.4), rgba(190, 161, 161, 0.4)), url('/img/formular.jpg');
    background-size: cover;
    font-size: 20px;
}

body {
    margin: 0;
    background: #dedede;
}

.slides{ position: relative; overflow: auto; }
     .slides li {list-style:none; }
         .slides ul li {float: left; }

.nav-link.active {
    color: #383838;
}

.footer {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(190, 161, 161, 0.4), rgba(190, 161, 161, 0.4)), url("/img/formular.jpg") no-repeat bottom;
    background-size: cover;
    padding: 30px;
}

.made-with {
    color: #FFF5EE;
    font-size: 18px;
}

.follow-us {
    color: #FFF5EE;
    font-size: 18px;
}

#slideshow {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: #000;
}

#slideshow, #slides img {
    width: 100%;
    max-width: 1000px;
    height: 376px;
}

#slides img {
    object-fit: cover;
    transition: all 1s;
    visibility: visible;
    opacity: 1;
}

#slideshow img.ninja {
    visibility: hidden;
    opacity: 0.3;
}

#slide-left, #slide-right, #slide-caption {
    position: absolute;
}

#slide-left, #slide-right {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    background: #333;
    padding: 5px 10px;
    top: 40%;
    transition: opacity 0.5s;
    opacity: 0.5;
}

#slide-left:hover, #slide-right:hover {
    cursor: pointer;
    opacity: 0.5;
}

#slide-left {
    left: 0;
}

#slide-right {
    right: 0;
}

#slide-caption {
    height: 10%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    font-size: 1.0em;

}

.form-wrapper {
    background: url("/img/formular.jpg") no-repeat center;
    background-size: cover;
}

.inputs-wrapper, .inputs-wrapper > * {
    position: relative;
}

.inputs-wrapper:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid #E6BE8A;
    background-color: #ffffff;
    opacity: 0.6;
}

.inputs-card label {
    font-weight: 600;
    font-size: 18px;
}

.hidden {
    display: none;
}

.event-notification {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    color: #846e53;
}

.date-error__wrapper {
    margin-top: -12px;
    height: 35px;
}

#dateErrorMessage {
    font-size: 18px;
    color: #f73131;
}

.navbar-nav {
    margin-top: 0px;
}

.review-form {
    width: 30%;
    background: white;
    padding: 20px 40px;
    margin: 20px 0px;
    border-radius: 4%;
}

.review-form-header {
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .review-form {
        width: 100%;
    }
}

.rating {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    overflow: hidden;
    flex-direction: row-reverse;
}

.rating-0 {
    filter: grayscale(100%);
}

.rating > input {
    display: none;
}

.rating > label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
    width: 100%;
    text-align: center;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after{
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
}

.emoji-wrapper:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji-wrapper:after{
    bottom: 0;
    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
}

.emoji > svg {
    margin: 15px 0;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
#rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
#rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
#rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
#rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }

.feedback {
    max-width: 360px;
    background-color: #fff;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0,0,0,.05);
}

.slider {
    margin: 20px 0;
    height: 20rem;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
    animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
}
.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.slider__contents {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center;
}
.slider__image {
    font-size: 2.7rem;
    color: #2196F3;
}
.slider__caption {
    font-weight: 500;
    margin-bottom: 2rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
.slider__txt {
    color: #999;
    max-width: 300px;
    margin-bottom: 45px;
}

@-webkit-keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}
