.container {
    max-width: 1200px;
    margin: auto;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 576px) {
    .navbar-expand-sm {
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
    }
}

@media screen and (min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.header-salon {
    font-family: "Tangerine", cursive, sans-serif;
    font-weight: 500;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    width: 100%;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

@media screen and (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

.logo {
    font-weight: bold;
    font-size: 28px;
}

.logo {
    font-weight: bold;
    font-size: 28px;
}

header {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}

@media screeen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screeen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screeen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screeen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    padding: 60px;
    text-align: center;
    background: linear-gradient(rgba(190, 161, 161, 0.4), rgba(190, 161, 161, 0.4)), url('/img/formular.jpg');
    background-size: cover;
    font-size: 20px;
}

body {
    margin: 0;
    background: #dedede;
}

.nav-link.active {
    color: #383838;
}

.footer {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(190, 161, 161, 0.4), rgba(190, 161, 161, 0.4)), url("/img/formular.jpg") no-repeat bottom;
    background-size: cover;
    padding: 30px;
}

.made-with {
    color: #FFF5EE;
    font-size: 18px;
}

.follow-us {
    color: #FFF5EE;
    font-size: 18px;
}

#slideshow {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: #000;
}

#slideshow, #slides img {
    width: 100%;
    max-width: 1000px;
    height: 376px;
}

#slides img {
    object-fit: cover;
    transition: all 1s;
    visibility: visible;
    opacity: 1;
}

#slideshow img.ninja {
    visibility: hidden;
    opacity: 0.3;
}

#slide-left, #slide-right, #slide-caption {
    position: absolute;
}

#slide-left, #slide-right {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    background: #333;
    padding: 5px 10px;
    top: 40%;
    transition: opacity 0.5s;
    opacity: 0.5;
}

#slide-left:hover, #slide-right:hover {
    cursor: pointer;
    opacity: 0.5;
}

#slide-left {
    left: 0;
}

#slide-right {
    right: 0;
}

#slide-caption {
    height: 10%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    font-size: 1.0em;

}

.form-wrapper {
    background: url("/img/formular.jpg") no-repeat center;
    background-size: cover;
}

.inputs-wrapper, .inputs-wrapper > * {
    position: relative;
}

.inputs-wrapper:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid #E6BE8A;
    background-color: #ffffff;
    opacity: 0.6;
}

.inputs-card label {
    font-weight: 600;
    font-size: 18px;
}

.hidden {
    display: none;
}

.event-notification {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    color: #846e53;
}

.date-error__wrapper {
    margin-top: -12px;
    height: 35px;
}

#dateErrorMessage {
    font-size: 18px;
    color: #f73131;
}
